<div class="container-fluid title">
	<div class="row form-row">
		<div class="col-xs-12 col-md-4 form-entry">
			<h1>This site was created with</h1>
			<p><%= image_tag("/assets/Ruby_on_Rails_logo.png", width: '150') %></p>
		</div>
	</div>
</div>