<div class="hero">
   <div class="container">
        <div class="herocontent">      
          <h1 class="hireme"><strong>HIRE ME INCREDIBLUE!</strong></h1>
          
          <p class="portfoliotext">Click below to view my portfolio page</p>
          
          <a href="http://www.jzabaras.com" class="btn btn-info prtf" role="button">Portfolio Page</a>
        </div> 
   </div>
</div>