// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_show {
	margin: 0 auto;
	width: 50%;
	height: auto;
	padding-top: 3%;
}

.product_comment {
	margin: 0 auto;
}

.product-show {
	padding-top: 3%;
}

