// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: left;
	color: blue;
	font-family: Futura, Helvetica, Arial, sans-serif;
}

body {
  margin-top: 80px;
}

footer {
  background-color: grey;
  text-align: center;
}







//CSS for new header


h1 {
  text-transform: uppercase;
  font-size:25px;
  color: #0089cf;
}

h1, h2 {
  font-family: helvetica;
  letter-spacing: 2px;
  text-align:center;
  color: #0089cf;
}

h3 {
  font-family: helvetica;
  letter-spacing: 2px;
  text-align:center;
  color: #0089cf;
}

.about-text {
  width: 50%;
  margin-left:25%;
}

p {
  font-family: helvetica;
}


.navbar li {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar {
  background-color: #fff;
  border: #dbdbdb 2px solid;
  border-radius: 0;
}

.navbar-brand {
  font-family: "News Cycle";
  font-size: 35px;
  font-weight: bold;
}

.navbar a:not(.navbar-brand) {
  color: #000;
  font-weight: 100;
  font-size:12px;
  margin:10px, 10px, 10px, 10px;
}


.navbar-toggle {
  color: #fff;
}

.navbar-right {
  margin-right:1px;
}

.navbar-form {
  margin-top:12px;
  margin-bottom:0;
  font-family: helvetica;
}

.navbar-search {
  margin-left: 1px;
}

.navbar button {
  color: #fff;
  background-color: #0089CF;
  margin-right:10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size:13px;
}


body {
  margin-top:0px;
  background-color: #e9e9e9;
  margin-bottom: 100px;
}

p {
  margin: 0;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(jumbo.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-top:0;
    margin-bottom: 20px;
}

.products-index p {
  font-size: 15px;
  text-align:center;
}


.signup {
  text-align: center;
  vertical-align: middle;
  border-color: #000;
  border-width: 5px;
  border-style: dotted;
  margin-top: 15%;
  margin-bottom: 25%;
  background-color: #000;
  color: #fff;
  margin-left: 25%;
  padding: 50px;

}

.contactbox {
  text-align: center;
  vertical-align: middle;
  font-family: helvetica;
  text-transform: uppercase;
}

.contactrow {
  margin: auto;
  width: 50%;
}

.email {
  width: 100
}


/* footer styles */ 
footer {
  margin-top: 300px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  position: fixed;
  height: 40px;
  background-color: #999999;
}
footer ul.footerleft{
    margin-left: 150px;
    margin-top: 10px;
}
footer ul.footerleft li{
    display: inline;
    margin-right: 25px;
}
footer a{
    color: #222;
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;    
}

footer img {
  height: 40px;
  margin-bottom: 20px;
  margin-top:5px;
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}


footer img:hover {
filter: none;
  -webkit-filter: grayscale(0);
}



.social:hover {
     -webkit-transform: scale(1.0);
     -webkit-transition-duration: 0.5s;
 }
 .social {
     -webkit-transform: scale(0.8);
     color: #222;
     
 }

footer ul.footerright{
        margin-right: 150px;
        margin-top: 10px;
    }
    footer ul.footerright li{
        display: inline;
        margin-right: 25px;
    }


//CSS for new header END