// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: left;
	color: blue;
	font-family: Futura, Helvetica, Arial, sans-serif;
}

body {
  margin-top: 80px;
}

footer {
  background-color: grey;
  text-align: center;
}