<div class="container-fluid title">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <h1 id="vinyls">Listing Yachts</h1>
  </div>
  
  
  <div class="container">
    <div class="row">
      <% cache(cache_key_for_products) do %>
        <%= render @products %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="buttoncenter"><%= link_to 'New Product', new_product_path, class: "btn btn-default" %></div>

</div>